@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>
<h1>Test</h1>
<div id="view-div" style="height: 500px; width: 100%">
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JsRuntime.InvokeVoidAsync("renderMap");
    }
}