@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>
<div id="view-div" style="height: 100%; width: 100%"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JsRuntime.InvokeVoidAsync("renderMap");
    }
}